body {
  background-color: #f2f2f2;
}

header {
  background-color: #212121;
  color: #fff;
  padding: 20px 0;
}

section {
  padding: 40px 0;
}

.white-label {
    color: white;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: inherit; /* Keeps the original text color on hover and focus */
  text-decoration: none; /* Removes the underline on hover and focus */
}

.navbar-toggler {
  background-color: white;
  border: none;
}

.profile-image {
  width: 50%;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.col-md-3 {
  margin-bottom: 20px;
}

.card-image-container {
  /*
  aspect-ratio: 1; 
  display: flex; 
  align-items: center;
  */
  transition: all 0.5s ease;
  position: relative;
  display: inline-block;
}

.card-image:hover {
  filter: brightness(40%);
}

.base-image {
  display: block;
  max-width: 100%;
  height: auto;
  transition: all 0.5s ease;
}

.overlay-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Initially, hide the overlay image */
  transition: all 0.5s ease;
}

.card-image-container:hover .overlay-image {
  opacity: 1;
}

.card-image-container:hover .base-image {
  filter: brightness(40%);
}


.contact-list {
  display: flex;
  align-items: center;
}

footer {
  background-color: #212121;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
